:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.board {
  width: fit-content;
  margin: 40px auto;
  text-align: left;
}

.board .word {
  display: flex;
  margin-bottom: 60px;
}

.field {
  /* Add styling for each div element here */
  padding: 10px;
  margin: 5px;
  width: 100px;
  height: 100px;
  border-bottom: 3px solid #eee;
  font-size:50px;
  align-content: center;
  display: flex; /* Nested flex container to center text */
  align-items: center; /* Vertically center the text */
  justify-content: center;
}

.board .keyboard {
  display: grid;
  grid-template-columns: repeat(7,10fr);
  gap: 10px
}

.letter {
  width: 100px;
  height: 100px;
  border: 3px solid #eee;
  border-radius: 6px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size:50px;
}
.letter.is-picked {
  color: #fff;
  background: #09f;
  opacity: 0.6; /* Reducing opacity to make it appear disabled */
  pointer-events: none; /* Disabling pointer events */
}